
.Login_Sign_button {
    display: inline-block;
    width: 386px;
    height: 50px;
    margin-top: 71px;
    background-color: #ED5736; 
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.Login_Sign_footer {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 500px;
    height: 118px;
    background-color:rgb(177, 173, 173);
    text-align: center;
    line-height: 118px;
}

.error_info_container{
    width: 100vw;
    height: 100vh;
    background-color: red;
}