.repeat_title{
    width: 900px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    text-align: justify;
    color: rgb(54, 54, 54);
    line-height: 30px;
}

.Rquestion_title{
    color: #424c50;
    margin-bottom: 10px;
    font-family: RobotoMedium;
}

.answers_body{
    margin-top: 30px ;
    margin-bottom: 10px;
    width: 900px;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
}

.date_ans{
    color: rgb(161, 159, 159);
}

.each_answer{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #9B9B9B;
}

.difuser_title{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.user_pic_ans{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
    background-size: cover;
}

.answer_detail{
    text-align: justify;
    margin-bottom: 10px;
    line-height: 40px;
}

.user_can_answerbox_container{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 15px;
    width: 900px;
    height: 279px;
    background-color: white;
}

.user_can_answertextarea{
    width: 900px;
    height: 220px;
    border: none;
    resize: none;           /*解决textarea可以自由拖动的问题*/
    padding: 15px 20px 15px 20px;
    font-size: 25px;
    font-family: 'Microsoft YaHei';
}

.answer_button{
    position: absolute;
    width: 386px;
    height: 50px;
    right: 20px;
    bottom: 10px;
    background-color: #ED5736;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border:  #ED5736;
    border-radius: 5px;
    font-size: 20px;
}