.mainpage_core {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    flex: 2;
}
.mainHeader{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 20px;
    background-color:#fff;
    color:  #ED5736;
    font-size: 30px;
    cursor: default;
}


.userpic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../assets/images/avatar_default.jpg);
    background-size: cover;     /*如果想让背景图片等比缩小，并且居中的话，就用bg-size*/
}
.Qustion_container{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 900px;
    padding: 0px 25px 25px 25px ;
    background-color: #ffff;
}

.small_Qustion_container{
    width: 842px;
    border-bottom: 1px solid rgb(228, 228, 228);
}
.Qustion_detail{
    margin-top: 0px;
    margin-bottom: 60px;
    text-align: justify;
    line-height: 30px;
    /* cursor: pointer; */
}

.Qustion_title{
    display: inline-block;
    margin-top: 25px;
    width: 842px;
    overflow: hidden;
    white-space: nowrap;            
    text-overflow: ellipsis;
    font-weight: 800;
    color: #000;
    cursor: pointer;
    font-family: RobotoMedium;
}

