.Like_container{
    width: 109px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#F4BDB0;
    border-radius: 5px;
    color: #ED5736;
    cursor: pointer;
    margin-top: 8px;
}

.Liked_container{
    margin-top: 8px;
    width: 109px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-around;
    background-color:#f55f3d;
    color: white;
    cursor: pointer;
}