* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: RobotoRegular;
}


a {
    text-decoration: none;
}

input:focus, textarea:focus,button:focus {          /*去掉input，textarea，按钮点击之后的框*/
    outline: none;
}

@font-face
{
font-family: bigFish;
src: url(./assets/fonts/Russo_One/RussoOne-Regular.ttf);
font-family:RobotoMedium ;
src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
font-family:RobotoRegular ;
src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

