* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input:focus, textarea:focus {
    outline: none;
}

@font-face
{
font-family: bigFish;
src: url(./assets/fonts/Russo_One/RussoOne-Regular.ttf)
}