* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: RobotoRegular;
    color: #424c50;
}

html {
    scroll-behavior: smooth;
  }

::-webkit-input-placeholder {
    color: #bbcdc5;
    font-size: 25px;
  }

a {
    text-decoration: none;
}

input:focus, textarea:focus,button:focus {        
    outline: none;
}

@font-face
{
font-family: bigFish;
src: url(./assets/fonts/Russo_One/RussoOne-Regular.ttf);
font-family:RobotoMedium ;
src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
font-family:RobotoRegular ;
src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

